<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="TattooParlorEntities" connectionString="metadata=res://*/Tattoo.csdl|res://*/Tattoo.ssdl|res://*/Tattoo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-7S4CC2F1\BOZ;initial catalog=TattooParlor;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>