@using Core
@model List<TattooType> 
@{
    ViewData["Title"] = "Privacy Policy";
}


<h1>@ViewData["Title"]</h1>


@foreach (var type in Model)
{
    <div>
        <p class="font-weight-normal">@type.Name</p>
    </div>
}